body{
  background-color: #EAE0CF;
}

.todo{
  border : 4px solid #213448;
  border-radius : 10px;
  padding : 20px;
  height : 500px;
  width : 300px;
  margin : 20px auto;
  text-align: center;
  overflow: auto;
}

h1{
  text-align: center;
  color : #213448;
}
h2{
  margin : auto;
  text-align: center;
  color : #213448;
  font-size : 30px;
}

.date{
  margin-top : 20px;
  border : 2px solid black;
  border-radius : 4px;
  padding : 10px 10px;
  width : 50%;
  font-size : 18px;
  background-color: transparent;
  cursor: pointer;
}

.text{
  padding : 8px 8px;
  border : 2px solid black;
  border-radius : 10px;
  font-size : 14px;
  font-weight : 600;
  background-color: transparent;
}

.addtask{
  padding : 8px 8px;
  width : 20%;
  border-radius : 10px;
  margin-left : 10px;
  cursor: pointer;
  font-weight : 600;
  background-color: transparent;
}

.addtask:hover{
  background-color : #213448;
  color : white;
}

ul{
  margin-top : 40px;
  font-size : 16px;
}

li{
  list-style: decimal;
  font-size : 18px;
  text-align: start;
}

span{
  font-size : 18px;
  font-weight : 600;
}

button{
  padding : 3px 5px;
  border-radius : 5px;
  border : 1px solid black;
  cursor: pointer;
  font-weight : 500;
  background-color: transparent;
}

button:hover{
  background-color : #213448;
  color : white;
}